     <div class = 'landing-page'>

    <header class = 'title-buttons'>
    <h1> Welcome to ConnectPro </h1>
    <h5> ConnectPro allows you to create contacts, store contacts in groups and create events <br>and reminders to help you remain connected with your network. </h5>
    <a href = '/login' class="button">Login</a>
    <a href = '/signup' class="button">Sign Up</a>
    </header>

     </div>