<h2>Group Name: {{groupDetails.groupName}}</h2>

<br>

<form action="/groups/{{groupDetails._id}}/edit" method="GET">
  <button type="submit"> Edit Group </button>
</form>

<br>

<form action="/groups/{{groupDetails._id}}/delete" method="POST">
  <button type="submit"> Delete Group </button>
</form>