<h1>Create a new contact</h1>

<form action="/addcontact" method="POST">
  <label for="firstName"> First Name </label>
  <input type="text" name="firstName" id="firstName">
  <br>

  <label for="lastName"> Last Name </label>
  <input type="text" name="lastName" id="lastName">
  <br>

  <label for="companyOne"> Company 1 </label>
  <input type="text" name="companyOne" id="companyOne">
  <br>

  <label for="companyTwo"> Company 2 </label>
  <input type="text" name="companyTwo" id="companyTwo">
  <br>

  <label for="avatar"> Choose Your Avatar </label>
  <input id="avatar" type="file" name="avatar">
  <br>

  <label for="personalEmail"> Personal Email </label>
  <input type="text" name="personalEmail" id="personalEmail">
  <br>

  <label for="workEmail"> Work Email </label>
  <input type="text" name="workEmail" id="workEmail">
  <br>

  <label for="group"> Group </label>
  <input type="text" name="group" id="group">
  <br>

  <label for="personalAddress"> Personal Address </label>
  <input type="text" name="personalAddress" id="personalAddress">
  <br>

  <label for="workAddress"> Work Address </label>
  <input type="text" name="workAddress" id="workAddress">
  <br>

  <label for="socialProfile"> Social Media Profile </label>
  <input type="text" name="socialProfile" id="socialProfile">
  <br>

  <label for="birthday"> Birthday </label>
  <input type="date" name="birthday" id="birthday">
  <br>

  <label for="notes"> Contact Notes </label>
  <input type="text" name="notes" id="notes">
  <br>

  <button type="submit"> Save new contact </button>
</form>